
#components_buttongroups.sg-spy-landing
= render :partial => 'underoos/styleguides/components/button-groups'
#components_dropdowns.sg-spy-landing
= render :partial => 'underoos/styleguides/components/dropdowns'
#components_tabs_pills.sg-spy-landing
= render :partial => 'underoos/styleguides/components/tabs-pills'
#components_nav_lists.sg-spy-landing
= render :partial => 'underoos/styleguides/components/nav-lists'
#components_breadcrumbs.sg-spy-landing
= render :partial => 'underoos/styleguides/components/breadcrumbs'
#components_pagination.sg-spy-landing
= render :partial => 'underoos/styleguides/components/pagination'
#components_paddles.sg-spy-landing
= render :partial => 'underoos/styleguides/components/paddles'
#components_navs_showcase.sg-spy-landing
= render :partial => 'underoos/styleguides/components/navs-showcase'
#components_navbars.sg-spy-landing
= render :partial => 'underoos/styleguides/components/navbars'
#components_modals.sg-spy-landing
= render :partial => 'underoos/styleguides/components/modals'
#components_notifications.sg-spy-landing
= render :partial => 'underoos/styleguides/components/notifications'
#components_decals.sg-spy-landing
= render :partial => 'underoos/styleguides/components/decals'
#components_tooltips.sg-spy-landing
= render :partial => 'underoos/styleguides/components/tooltips'
#components_popovers.sg-spy-landing
= render :partial => 'underoos/styleguides/components/popovers'
#components_progress_bars.sg-spy-landing
= render :partial => 'underoos/styleguides/components/progress-bars'
#components_carets.sg-spy-landing
= render :partial => 'underoos/styleguides/components/carets'
#components_close.sg-spy-landing
= render :partial => 'underoos/styleguides/components/close'
#components_wells.sg-spy-landing
= render :partial => 'underoos/styleguides/components/wells'
#components_media.sg-spy-landing
= render :partial => 'underoos/styleguides/components/media'

