
= render :partial => 'underoos/styleguides/components/button-groups'
= render :partial => 'underoos/styleguides/components/dropdowns'
= render :partial => 'underoos/styleguides/components/tabs-pills'
= render :partial => 'underoos/styleguides/components/nav-lists'
= render :partial => 'underoos/styleguides/components/breadcrumbs'
= render :partial => 'underoos/styleguides/components/pagination'
= render :partial => 'underoos/styleguides/components/paddles'
= render :partial => 'underoos/styleguides/components/navs-example'
= render :partial => 'underoos/styleguides/components/modals'
= render :partial => 'underoos/styleguides/components/notifications'
= render :partial => 'underoos/styleguides/components/decals'
= render :partial => 'underoos/styleguides/components/tooltips'
= render :partial => 'underoos/styleguides/components/popovers'
= render :partial => 'underoos/styleguides/components/carets'
= render :partial => 'underoos/styleguides/components/close'
= render :partial => 'underoos/styleguides/components/wells'
= render :partial => 'underoos/styleguides/components/media'

