
= render :partial => 'underoos/styleguides/components/button-groups'
#dropdowns.sg-spy-landing
= render :partial => 'underoos/styleguides/components/dropdowns'
#tabs_pills.sg-spy-landing
= render :partial => 'underoos/styleguides/components/tabs-pills'
#nav_lists.sg-spy-landing
= render :partial => 'underoos/styleguides/components/nav-lists'
#breadcrumbs.sg-spy-landing
= render :partial => 'underoos/styleguides/components/breadcrumbs'
#pagination.sg-spy-landing
= render :partial => 'underoos/styleguides/components/pagination'
#paddles.sg-spy-landing
= render :partial => 'underoos/styleguides/components/paddles'
#navs_examples.sg-spy-landing
= render :partial => 'underoos/styleguides/components/navs-example'
#navbars.sg-spy-landing
= render :partial => 'underoos/styleguides/components/navbars'
#modalz.sg-spy-landing
= render :partial => 'underoos/styleguides/components/modals'
#notifications.sg-spy-landing
= render :partial => 'underoos/styleguides/components/notifications'
#decals.sg-spy-landing
= render :partial => 'underoos/styleguides/components/decals'
#tooltips.sg-spy-landing
= render :partial => 'underoos/styleguides/components/tooltips'
#popovers.sg-spy-landing
= render :partial => 'underoos/styleguides/components/popovers'
#carets.sg-spy-landing
= render :partial => 'underoos/styleguides/components/carets'
#closer.sg-spy-landing
= render :partial => 'underoos/styleguides/components/close'
#wells.sg-spy-landing
= render :partial => 'underoos/styleguides/components/wells'
#media.sg-spy-landing
= render :partial => 'underoos/styleguides/components/media'

