
.sg-subsection
  %h3.sg-subheading Example forms <span>forms.sass</span>
  .sg-quarter.pull
    %h4 Search form
  .sg-threequarter.push
    %form.form-search.well.dark
      %ol
        %li
          %input.search-query.input-small(type="search" name="test[search]" placeholder="google")
          %button.btn(type="submit") Search

.sg-subsection
  .sg-quarter.pull
    %h4 Inline form
  .sg-threequarter.push
    %form.form-inline.well.dark
      %ol
        %li
          %input.input-small(type="email" name="test[email]" placeholder="email")
          %input.input-small(type="password" name="test[password]" placeholder="password")
          %button.btn(type="submit") Go


.sg-subsection
  %h3.sg-subheading Vertical form <span>forms.sass</span>
  .sg-threequarter.pull
    %form
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "vert_", :legend => 'I am Legend', :state => "", :disabled => ""}
  .sg-quarter.push
    %h4 Vertical form

.sg-subsection
  %h3.sg-subheading Horizontal form <span>forms.sass</span>
  .sg-threequarter.pull
    %form.form-horizontal.well.dark
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "horz_", :legend => 'Legend, starring Tom Cruise', :state => "", :disabled => ""}
  .sg-quarter.push
    %h4 Horizontal form


.sg-subsection
  %h3.sg-subheading Form States <span>forms.sass</span>
  .sg-half.pull
    %form.form-horizontal.well
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "disabled_", :legend => 'Disabled states', :state => "", :disabled => "disabled"}
  .sg-half.push
    %form.form-horizontal.well
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "errors_", :legend => 'Error states', :state => "error", :disabled => ""}

.sg-subsection
  .sg-half.pull
    %form.form-horizontal.well
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "warn_", :legend => 'Warning states', :state => "warning", :disabled => ""}
  .sg-half.push
    %form.form-horizontal.well
      = render :partial => 'underoos/styleguides/partials/form-template', :locals => {:uid => "success_", :legend => 'Success states', :state => "success", :disabled => ""}

