
-# .sg-subsection
  -# %h3.sg-subheading Form Controls <span>forms.sass</span>
  -# .sg-half.pull
    -# = render :partial => 'underoos/styleguides/forms/default-elements'
  -# .sg-half.push
    -# = render :partial => 'underoos/styleguides/forms/horizontal-elements'

.sg-subsection
  %h3.sg-subheading Form Controls <span>forms.sass</span>
  .sg-threequarter.pull
    = render :partial => 'underoos/styleguides/forms/default-elements'
  .sg-quartter.push
    %h4 Vertical forms

.sg-subsection
  %h3.sg-subheading Form Controls <span>forms.sass</span>
  .sg-threequarter.pull
    = render :partial => 'underoos/styleguides/forms/horizontal-elements'
  .sg-quartter.push
    %h4 Horizontal forms



.sg-subsection
  %h3.sg-subheading Form States <span>forms.sass</span>
  .sg-half.pull
    = render :partial => 'underoos/styleguides/forms/disabled-elements'
  .sg-half.push
    = render :partial => 'underoos/styleguides/forms/success-elements'

.sg-subsection
  .sg-half.pull
    = render :partial => 'underoos/styleguides/forms/warning-elements'
  .sg-half.push
    = render :partial => 'underoos/styleguides/forms/error-elements'

