
.sg-subsection
  .sg-half.pull
    %h5 Greyscale colors
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @greys.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
  .sg-half.push
    %h5 Component colors
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @components.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")

    %br
    %h5 CI colors
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @ci_colors.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")


.sg-subsection
  .sg-half.pull
    %h5 mc roy g biv
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @rainbow.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
  .sg-half.push
    %h5 Status level
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @status.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")

