
.sg-subsection
  %h3.sg-subheading Table Styles

  .sg-onethird.pull
    %h4 Default Table
    %p The basic table creates division in data with horizontal dividers. Additional classes (see below) can be added to build a more structured table.
  .sg-twothird.push
    %table
      = render :partial => 'table-data'

.sg-subsection
  .sg-onethird.pull
    %h4 Box Table
    %p Adding the <code>.box</code> class renders the table with exterior boundries for all <code>table rows</code>.
  .sg-twothird.push
    %table.box
      = render :partial => 'table-data'

.sg-subsection
  .sg-onethird.pull
    %h4 Vertical Border Table
    %p Adding the <code>.vborder</code> class renders the table with vertical divisions for <code>table data</code>.
  .sg-twothird.push
    %table.vborder
      = render :partial => 'table-data'

.sg-subsection
  .sg-onethird.pull
    %h4 Box &amp; Vertical Border Table
    %p Adding the <code>.box</code> class combined with the <code>.vborder</code> class renders the table with full borders around <code>tr</code> and <code>td</code> elements.
  .sg-twothird.push
    %table.box.vborder
      = render :partial => 'table-data'

.sg-subsection
  .sg-onethird.pull
    %h4 Styled Table
    %p To add coloring to alternate <code>tbody</code> rows, add the class <code>.zebra</code>
    %br
    %p To add a background color to the <code>thead</code> element, add the class <code>.thead-decorate</code>
    %br
    %p To add a background color to the <code>tfoot</code> element, add the class <code>.tfoot-decorate</code>
    %br
    %p The following table is rendered as <code>%table.box.zebra.thead-decorate.tfoot-decorate</code>
  .sg-twothird.push
    %table.box.zebra.thead-decorate.tfoot-decorate
      = render :partial => 'table-data'

