!!! 5
%html
  %head
    %title underoos.
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %meta(name="description" content="")
    %meta(name="author" content="mode set")
    %meta(name="keywords" content="")
    %meta(name="imagetoolbar" content="no")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-touch-fullscreen" content="YES")
    %meta(name="apple-mobile-web-app-capable" content="YES")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    = stylesheet_link_tag 'underoos'

  %body(data-spy="scroll" data-target=".spy")
    .navbar.fixed.sg-navbar
      .navbar-inner
        .container
          %a.btn.info.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a#page_title.brand(href="/styleguide") underoos.
          %nav.spy.nav-collapse
            %ul.nav
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Typography<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#typography") Description
                  %li
                    %a(href="#type_headings") Headings
                  %li
                    %a(href="#type_paragraphs") Inline Paragraph Elements
                  %li
                    %a(href="#type_rules") Rules
                  %li
                    %a(href="#type_lists") Lists
                  %li
                    %a(href="#type_code") Code

              %li
                %a(href="#palettes") Palettes

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Elements<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#elements") Description
                  %li
                    %a(href="#elements_basenav") Base Nav
                  %li
                    %a(href="#elements_buttons") Buttons
                  %li
                    %a(href="#elements_images") Images
                  %li
                    %a(href="#elements_video") Video

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Components<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#components") Description
                  %li
                    %a(href="#components_buttongroups") Button Groups
                  %li
                    %a(href="#components_dropdowns") Dropdowns
                  %li
                    %a(href="#components_tabs_pills") Tabs &amp; Pills
                  %li
                    %a(href="#components_nav_lists") Navigation Lists
                  %li
                    %a(href="#components_breadcrumbs") Breadcrumbs
                  %li
                    %a(href="#components_pagination") Pagination
                  %li
                    %a(href="#components_navs_showcase") Navs Showcase
                  %li
                    %a(href="#components_accordions") Accordions
                  %li
                    %a(href="#components_navbars") Navbars
                  %li
                    %a(href="#components_paddles") Paddles
                  %li
                    %a(href="#components_modals") Modals
                  %li
                    %a(href="#components_notifications") Notifications
                  %li
                    %a(href="#components_decals") Decals
                  %li
                    %a(href="#components_tooltips") Tooltips
                  %li
                    %a(href="#components_popovers") Popovers
                  %li
                    %a(href="#components_progress_bars") Progress Bars
                  %li
                    %a(href="#components_carets") Carets
                  %li
                    %a(href="#components_close") Close Icons
                  %li
                    %a(href="#components_wells") Wells
                  %li
                    %a(href="#components_media") Media Grid
              %li
                %a(href="#tables") Tables

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Forms<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#forms") Description
                  %li
                    %a(href="#forms_type") Form Types
                  %li
                    %a(href="#forms_example") Example Forms
                  %li
                    %a(href="#forms_vertical") Vertical Form
                  %li
                    %a(href="#forms_horizontal") Horizontal Form
                  %li
                    %a(href="#forms_structure") Form Structure
                  %li
                    %a(href="#forms_state") Form States
                  %li
                    %a(href="#forms_inputs") Additional Input Controls

              %li
                %a(href="#structures") Structures

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Layouts<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#layouts") Description
                  %li
                    %a(href="#layouts_containers") Containers
                  %li
                    %a(href="#layouts_queries") Media Queries
                  %li
                    %a(href="#layouts_upgrades") Upgrades

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Assets<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#assets") Description
                  %li
                    %a(href="#assets_icons") Favicon &amp; Touch Icons
                  %li
                    %a(href="#assets_gui") UI Elements

              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown") Utilities<span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#utilities") Description
                  %li
                    %a(href="#utils_helpers") helpers
                  %li
                    %a(href="#utils_transitions") Transitions
                  %li
                    %a(href="#utils_mixins") Mixins
                  %li
                    %a(href="#utils_functions") Functions


    .container

      #typography.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Typography
          %p.sg-note Heading, paragraph, lists, and inline typographic elements.
        = render :partial => 'typography'

      #palettes.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Palettes
          %p.sg-note Various color palettes and themes used in the application. All properties are found under the themes directory
        = render :partial => 'palettes'


      #elements.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Elements
          %p.sg-note Base class styles to enhance common elements found in an application.
        = render :partial => 'elements'

      #components.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Components
          %p.sg-note Components are common patterns used in many applications but are not defined as base element tags.
        = render :partial => 'components'

      #tables.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Tables
          %p.sg-note Tables are used to represent tabular data.
        = render :partial => 'tables'

      #forms.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Forms
          %p.sg-note Inputs, textarea, labels, selects, and other controls associated with form elements. Tuned to play with <a href="https://github.com/justinfrench/formtastic">formtastic</a>.
        = render :partial => 'forms'

      #structures.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Structures
          %p.sg-note Structures consists of grids systems and common size elements used within the application.
        = render :partial => 'structures'

      #layouts.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Layouts
          %p.sg-note Layouts consists of various templates that are specific to the application.
        = render :partial => 'layouts'

      #assets.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Assets
          %p.sg-note Showcases the various assets in use by the application.
        = render :partial => 'assets'

      #utilities.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading Utilities
          %p.sg-note Various utility, helpers and miscellaneous classes, commonly used for extension.
        = render :partial => 'utilities'


      #resources.sg-spy-landing
      .sg-section
        .well.dark
          %h2.sg-heading External Resources
          %p.sg-note References, links, credits, and various information related to the styleguide.
        = render :partial => 'resources'


    = render :partial => 'shared/upgrades'

    = javascript_include_tag 'underoos'
    = javascript_include_tag 'prettify'
    = javascript_include_tag 'styleguide'

