!!! 5
%html
  %head
    %title underoos.
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'underoos'

  %body(data-spy="scroll" data-target=".spy")
    .navbar.fixed.sg-navbar
      .navbar-inner
        .container
          %nav.spy
            %a.brand(href="/styleguide") styleguide.
            %ul.nav
              %li
                %a(href="#typography") Typography
              %li
                %a(href="#palettes") Palettes
              %li
                %a(href="#elements") Elements
              %li
                %a(href="#components") Components
              %li
                %a(href="#tables") Tables
              %li
                %a(href="#forms") Forms
              %li
                %a(href="#structures") Structures
              %li
                %a(href="#layouts") Layouts
              %li
                %a(href="#media") Media
              %li
                %a(href="#utilities") Utilities


    .container.sg-contents

      #typography.sg-section
        .well.dark
          %h2.sg-heading Typography
          %p.sg-note Heading, paragraph, lists, and inline typographic elements.
        = render :partial => 'typography'

      #palettes.sg-section
        .well.dark
          %h2.sg-heading Palettes
          %p.sg-note Various color palettes and themes used in the application.
        = render :partial => 'palettes'


      #elements.sg-section
        .well.dark
          %h2.sg-heading Elements
          %p.sg-note Base class styles to enhance common elements found in an application.
        = render :partial => 'elements'

      #components.sg-section
        .well.dark
          %h2.sg-heading Components
          %p.sg-note Components are common patterns used in many applications but are not defined as base element tags.
        = render :partial => 'components'

      #tables.sg-section
        .well.dark
          %h2.sg-heading Tables
          %p.sg-note Tables are used to represent tabular data.
        = render :partial => 'tables'

      #forms.sg-section
        .well.dark
          %h2.sg-heading Forms
          %p.sg-note Base input, textarea, labels, selects, button styles associated with form elements. Tuned to play with <a href="https://github.com/justinfrench/formtastic">formtastic</a>.
        = render :partial => 'forms'

      #structures.sg-section
        .well.dark
          %h2.sg-heading Structures
          %p.sg-note Structures consists of grids systems and common size elements used within the application.
        = render :partial => 'structures'

      #layouts.sg-section
        .well.dark
          %h2.sg-heading Layouts
          %p.sg-note Layouts consists of various templates that are specific to the application.
        = render :partial => 'layouts'

      #media.sg-section
        .well.dark
          %h2.sg-heading Media
          %p.sg-note Showcases the various media elements that are in use by the application.
        = render :partial => 'media'

      #utilities.sg-section
        .well.dark
          %h2.sg-heading Utilities
          %p.sg-note Various utility, helpers and miscellaneous classes, commonly used for extension.
        = render :partial => 'utilities'


      #resources.sg-section
        .well.dark
          %h2.sg-heading External Resources
          %p.sg-note References, links, credits, and various information related to the styleguide.
        = render :partial => 'resources'


    = render :partial => 'shared/upgrades'

    = javascript_include_tag 'underoos'
    = javascript_include_tag 'prettify'
    = javascript_include_tag 'styleguide'
