
= haml(:"/styleguide/partials/components/_decals", :layout => false)
= haml(:"/styleguide/partials/components/_breadcrumbs", :layout => false)
= haml(:"/styleguide/partials/components/_navs", :layout => false)
= haml(:"/styleguide/partials/components/_paginations", :layout => false)
= haml(:"/styleguide/partials/components/_modals", :layout => false)
= haml(:"/styleguide/partials/components/_tooltips", :layout => false)
= haml(:"/styleguide/partials/components/_popovers", :layout => false)
= haml(:"/styleguide/partials/components/_notifications", :layout => false)

-# Small miscellaneous components
.sg-subsection
  %h3.sg-subheading Closers
  .sg-onethird.pull
    %p Closes stuff
  .sg-twothird.push
    .well.primary
      %a.close(href="#" style="float:none;") &times;
      %a.close.alt(href="#" style="float:none;") &times;

.sg-subsection
  %h3.sg-subheading Wells
  .sg-quarter.pull
    %p Holds stuff
  .sg-quarter
    .well
      %code .well
  .sg-quarter
    .well.lite
      %code .well.lite
  .sg-quarter.push
    .well.dark
      %code .well.dark

