
.styleguide-h3 blacks &raquo; greys &raquo; whites
- greys = ['#000', '#111', '#222','#333','#444','#555','#666','#777','#888','#999','#aaa','#bbb','#ccc','#ddd','#eee','#fff']
- greys.each do |color|
  .styleguide-colorbox(style="background:#{color};") #{color}
.styleguide-clearfix

.styleguide-h3 mc roy g. biv
- rainbow = ['#ff00ff', '#00ffff', '#b22222', '#f26522', '#ffc40d', '#46a546', '#268bd2', '#4b0082', '#ee82ee']
- rainbow.each do |color|
  .styleguide-colorbox(style="background:#{color};") #{color}
.styleguide-clearfix

.styleguide-h3 standard, notice, important, success, warning, alert, error
- alerts = ['#aaa', '#444','#268bd2', '#46a546', '#ffc40d', '#f26522', '#b22222']
- alerts.each do |color|
  .styleguide-colorbox(style="background:#{color};") #{color}
.styleguide-clearfix

