
.nagari-subsection blacks &raquo; greys &raquo; whites
- greys = ['#000', '#111', '#222','#333','#444','#555','#666','#777','#888','#999','#aaa','#bbb','#ccc','#ddd','#eee','#fff']
- greys.each do |color|
  .nagari-colorbox(style="background:#{color};") #{color}
.nagari-clearfix

.nagari-subsection mc roy g. biv
- rainbow = ['#ff00ff', '#00ffff', '#b22222', '#f26522', '#ffc40d', '#32cd32', '#268bd2', '#4b0082', '#ee82ee']
- rainbow.each do |color|
  .nagari-colorbox(style="background:#{color};") #{color}
.nagari-clearfix

.nagari-subsection standard, notice, important, success, warning, alert, error
- alerts = ['#aaa', '#000','#268bd2', '#32cd32', '#ffc40d', '#f26522', '#b22222']
- alerts.each do |color|
  .nagari-colorbox(style="background:#{color};") #{color}
.nagari-clearfix

