
:ruby
  @greys = [
    {prop:'$black', hex:'#000'},
    {prop:'$grey1', hex:'#111'},
    {prop:'$grey2', hex:'#222'},
    {prop:'$grey3', hex:'#333'},
    {prop:'$grey4', hex:'#444'},
    {prop:'$grey5', hex:'#555'},
    {prop:'$grey6', hex:'#666'},
    {prop:'$grey7', hex:'#777'},
    {prop:'$grey8', hex:'#888'},
    {prop:'$grey9', hex:'#999'},
    {prop:'$greyA', hex:'#aaa'},
    {prop:'$greyB', hex:'#bbb'},
    {prop:'$greyC', hex:'#ccc'},
    {prop:'$greyD', hex:'#ddd'},
    {prop:'$greyE', hex:'#eee'},
    {prop:'$white', hex:'#fff'}
  ]

  @rainbow = [
    {prop:'$magenta', hex:'#ff00ff'},
    {prop:'$cyan',    hex:'#00ffff'},
    {prop:'$red',     hex:'#b22222'},
    {prop:'$orange',  hex:'#f26522'},
    {prop:'$yellow',  hex:'#ffc40d'},
    {prop:'$green',   hex:'#46a546'},
    {prop:'$blue',    hex:'#268bd2'},
    {prop:'$indigo',  hex:'#4b0082'},
    {prop:'$violet',  hex:'#ee82ee'}
  ]

  @ci_colors = [
    {prop:'$primary_ci', hex:'#268bd2'}
  ]

  @status = [
    {prop:'$standard', hex:'#f5f5f5'},
    {prop:'$info',     hex:'#999'},
    {prop:'$important',hex:'#268bd2'},
    {prop:'$success',  hex:'#46a546'},
    {prop:'$warning',  hex:'#ffc40d'},
    {prop:'$alert',    hex:'#f26522'},
    {prop:'$error',    hex:'#b22222'},
    {prop:'$danger',   hex:'#b22222'}
  ]

  @components = [
    {prop:'component_normal', hex:'#666'},
    {prop:'component_active', hex:'#fff'},
    {prop:'component_bg', hex:'transparent'},
    {prop:'component_bg_hover', hex:'#eee'},
    {prop:'component_bg_active', hex:'#268bd2'},
    {prop:'component_border', hex:'#ccc'},
    {prop:'component_border_alt', hex:'#b3b3b3'},
    {prop:'disabled_color', hex:'#bbb'},
    {prop:'disabled_bg', hex:'#eee'},
    {prop:'disabled_border', hex:'#ccc'},
    {prop:'focus_border', hex:'rgba(82,168,236,0.8)'}
  ]


.sg-subsection
  .sg-half.pull
    %h5 Greyscale colors
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @greys.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
  .sg-half.push
    %h4 mc roy g. biv
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @rainbow.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
    %br
    %h4 ci colors
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @ci_colors.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")


.sg-subsection
  .sg-half.pull
    %h4 status level
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @status.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")
  .sg-half.push
    %h4 components
    %table.box.zebra.thead-decorate
      %thead
        %tr
          %th Variable
          %th Hex
          %th Swatch
      %tbody
        - @components.each do |color|
          %tr
            %td <code>#{color[:prop]}</code>
            %td <code>#{color[:hex]}</code>
            %td
              %span.sg-swatch(style="background-color:#{color[:hex]};")

