
- total_width = 992
- column_width = 50
- num_columns = 16
- total_margin = 12
- single_margin = (total_margin / 2)

%br
.styleguide-note Grid structure:  #{total_width}px ~ #{num_columns} columns ~ #{single_margin}px / #{single_margin}px margins

.styleguide-h3 standard horizontal columns
- (1..num_columns).to_a.reverse.each do |i|
  ! #{"<div class='_underoos-col-#{i}'></div>"}
  - if num_columns - i > 0
    ! #{"<div class='_underoos-col-#{num_columns - i}'></div>"}
.styleguide-clearfix

.styleguide-h3 push / pull horizontal columns
- (1..num_columns).to_a.reverse.each do |i|
  ! #{"<div class='_underoos-pull-#{i}'></div>"}
  - if num_columns - i > 0
    ! #{"<div class='_underoos-push-#{num_columns - i} alt'></div>"}
  - else
    ! #{"<div class='_underoos-push-#{num_columns} alt'></div>"}
.styleguide-clearfix

.styleguide-h3 full horizontal columns (pushed and pulled)
- (1..num_columns).to_a.reverse.each do |i|
  ! #{"<div class='_underoos-full-#{i}'></div>"}
  - if num_columns - i > 0
    ! #{"<div class='_underoos-full-#{num_columns - i} alt'></div>"}
.styleguide-clearfix


.styleguide-h3 offset columns (push / pull / full values not shown)
- (1..num_columns - 1).to_a.reverse.each do |i|
  ! #{"<div class='_underoos-offset-#{i}'></div>"}
.styleguide-clearfix

.styleguide-h3 vertical grid system
.styleguide-todo TODO: Render the vertical grid

.styleguide-h3 Common Sizes and Ratios within the Grid System
%table(cellspacing=0)
  %thead
    %tr
      %th Column
      %th 16:9 Ratio (px)
      %th 4:3 Ratio (px)
  %tfoot
    %tr
      %td(colspan='3') Good reference for <a href="http://andrew.hedges.name/experiments/aspect_ratio/">calculating aspect ratios</a>
  %tbody
    %tr
      %td Full Bleed
      %td #{total_width} x #{(9.0 / 16.0 * total_width).round}
      %td #{total_width} x #{(3.0 / 4.0 * total_width).round}
    - width = total_width - total_margin
    - spacing = column_width + total_margin
    - (1..num_columns).to_a.reverse.each do |i|
      - hd = (9.0 / 16.0 * width).round
      - sd = (3.0 / 4.0 * width).round
      %tr
        %td #{i} columns
        %td #{width} x #{hd}
        %td #{width} x #{sd}
      - width -= spacing

