
.sg-subsection
  %h3.sg-subheading Headings &amp; body copy
  %h1 Google hearts h1 headings, but only use one per page.
  %p=@lorem
  %br
  %h2 Got sections? Try using h2 headings.
  %p=@lorem
  %br
  %h3 Good things come in threes, like tacos and h3 headings.
  %p=@lorem
  %br
  %h4 There's nothing clever to say about h4 headings.
  %p=@lorem
  %br
  %h5 Every time you use an h5 heading, Google kills a puppy. A tiny little puppy.
  %p=@lorem
  %br
  %h6 An h6 heading? Google just killed a litter of kittens.
  %p=@lorem


.sg-subsection
  %h3.sg-subheading Inline paragraph elements
  %table.box.vborder.zebra.thead-decorate
    %thead
      %tr
        %th Element
        %th Usage
    %tbody
      %tr
        %td <code>&lt;a&gt;</code>
        %td The anchor element defines a <a href='http://www.modeset.com/'>hyperlink</a>!
      %tr
        %td <code>&lt;em&gt;</code>
        %td The em element is used to <em>emphasize</em> text
      %tr
        %td <code>&lt;strong&gt;</code>
        %td The strong element also <strong>emphasizes</strong> text, typically in <strong>bold</strong>
      %tr
        %td <code>&lt;small&gt;</code>
        %td The small element renders text well, <small>smaller</small>
      %tr
        %td <code>&lt;sup&gt;</code>
        %td The superscript element is used to display text higher<sup>&reg;</sup> and smaller<sup>&trade;</sup>
      %tr
        %td <code>&lt;sub&gt;</code>
        %td The sub element is used to display text <sub>lower</sub> and <sub>smaller</sub>
      %tr
        %td <code>&lt;address&gt;</code>
        %td For contact information related to the author of the document (end each line with <code>&lt;br&gt;</code>)
      %tr
        %td <code>&lt;time&gt;</code>
        %td Use for a <time>24-hour</time> clock or a precise date in the <a href="http://en.wikipedia.org/wiki/Gregorian_calendar">Gregorian calendar</a>
      %tr
        %td <code>&lt;abbr&gt;</code>
        %td <abbr title="For Placement Only">FPO</abbr>. Describes an abbreviated phrase (include <code>title="value"</code>)
      %tr
        %td <code>&lt;dfn&gt;</code>
        %td <dfn title="This is a definition">DFN</dfn>. Describes the definition of a word or term (include <code>title="value"</code>)
      %tr
        %td <code>&lt;ins&gt;</code>
        %td The ins element defines text that has been <ins>inserted into a document</ins>
      %tr
        %td <code>&lt;del&gt;</code>
        %td The del tag defines text that has been <del>deleted from a document</del>
      %tr
        %td <code>&lt;mark&gt;</code>
        %td The mark element is used for indicating text as <mark>marked or highlighted for reference</mark> purposes

.sg-subsection
  .sg-half.pull
    %h5 Inline elements examples
    %br
    %p Yeah, well, <em>listen</em>. You ought to <strong>ditch</strong> the <strong><em>two</em></strong> <a href="http://modeset.com/">geeks</a> you're in the <dfn title="motorized vehicle">car</dfn> with now and get <sub>in with</sub> us.
    %br
    %p But that's alright, <mark>we'll worry about</mark> that <time>later</time>. I will <small>see you</small> there. All right<sup>&trade;</sup>? <del>Man</del>, <ins>I love</ins> those <abbr title="Hotties">redheads</abbr>.
  .sg-half.push
    %h5 Address examples
    %br
    %address
      <strong>Mr. Address Tag</strong>
      %br
      1600 Pennsylvania Ave NW
      %br
      Washington D.C. DC 20500
      %br
      %br
      %a(href="#") president@whitehouse.gov

.sg-subsection
  %h3.sg-subheading Blockquotes
  %blockquote
    %p &#8220;Let me tell you what Melba Toast is packin' right here, all right. We got 4:11 Positrac outback, 750 double pumper, Edelbrock intake, bored over 30, 11 to 1 pop-up pistons, turbo-jet 390 horsepower. We're talkin' some f***in' muscle.&#8221;
    %small David Wooderson, <cite title="link to source">Dazed &amp; Confused</cite>
.sg-subsection
  %pre.prettyprint
    = preserve do
      :escaped
        <blockquote>
          <p>&#8220;Let me...&#8221;</p>
          <small>Author<cite title="resource">source...</cite></small>
        </blockquote>

.sg-subsection
  %h3.sg-subheading Horizontal Rules
  .sg-quarter.pull
    %code(style="line-height:5em") &lt;hr&gt;
  .sg-threequarter.push
    .well
      %hr
  .sg-quarter.pull
    %code(style="line-height:5em") &lt;hr class="dotted"&gt;
  .sg-threequarter.push
    .well
      %hr.dotted
  .sg-quarter.pull
    %code(style="line-height:5em") &lt;hr class="dashed"&gt;
  .sg-threequarter.push
    .well
      %hr.dashed

.sg-subsection
  %h3.sg-subheading Lists
  .sg-quarter.pull
    %p <strong>Unordered List:</strong>
    %p(style="margin-bottom:0.5em;") <code>&lt;ul&gt;</code>
    %ul
      %li Unordered list
      %li Unordered list
      %ul
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list
      %li Unordered list
      %ol
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list
  .sg-quarter
    %p <strong>Ordered List:</strong>
    %p(style="margin-bottom:0.5em;") <code>&lt;ol&gt;</code>
    %ol
      %li Ordered list
      %li Ordered list
      %ol
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list
      %li Ordered list
      %ul
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list
  .sg-quarter
    %p <strong>Unstyled List:</strong>
    %p(style="margin-bottom:0.5em;") <code>&lt;ul class="unstyled"&gt;</code>
    %ul.unstyled
      %li Unordered list
      %li Unordered list
      %ul
        %li Nested unordered list
        %li Nested unordered list
        %li Nested unordered list
      %li Unordered list
      %ol
        %li Nested ordered list
        %li Nested ordered list
        %li Nested ordered list
  .sg-quarter.push
    %p <strong>Definition List:</strong>
    %p(style="margin-bottom:0.5em;") <code>&lt;dl&gt;</code>
    %dl
      %dt Definition Term
      %dd Definition Description #{@lorem_tiny}
      %dt Definition Term
      %dd Definition Description #{@lorem_tiny}
      %dt Definition Term
      %dd Definition Description #{@lorem_tiny}

.sg-subsection
  %h3.sg-subheading Code Styles
  %h5 Inline elements
  %table.box.vborder.zebra.thead-decorate
    %thead
      %tr
        %th Element
        %th Usage
    %tbody
      %tr
        %td <code>&lt;code&gt;</code>
        %td The <code>code</code> tag is used to show inline code
      %tr
        %td <code>&lt;kbd&gt;</code>
        %td The <kbd>kbd</kbd> tag defines keyboard text
      %tr
        %td <code>&lt;samp&gt;</code>
        %td The <samp>samp</samp> tag defines sample computer code

.sg-subsection
  .sg-half.pull
    %h5 The basic block
    %p Use the <code>pre</code> element for multiline code blocks.
    %pre
      = preserve do
        :escaped
          <!-- <pre> -->
          <header>
            <h1>Heading</h1>
            <p>Some Copy...</p>
          </header>
  .sg-half.push
    %h5 Google's Prettify
    %p Add the <code>.prettyprint</code> class for basic syntax highlighting.
    %pre.prettyprint
      = preserve do
        :escaped
          <!-- <pre class="prettyprint"> -->
          <header>
            <h1>Heading</h1>
            <p>Some Copy...</p>
          </header>

