
.sg-subsection
  %h3.sg-subheading Dropdowns <span>dropdowns.sass</span>
  %p Requires <a href="http://twitter.github.com/bootstrap/javascript.html#dropdowns">Bootstrap's Dropdown plugin</a>.

.sg-subsection
  .sg-onethird.pull
    %h4 Basic Dropdowns
    %p Add dropdown menus to just about any type of navigation list element by applying the attribute <code>data-toggle="dropdown"</code> to the target button.
  .sg-twothird.push
    .well
      %nav
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
            %ul.dropdown-menu
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3

          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown") Dropup<span class="caret"></span>
            %ul.dropdown-menu.drop-up
              %li
                %a(href="#") Subnav 1
              %li
                %a(href="#") Subnav 2
              %li.divider
              %li
                %a(href="#") Subnav 3
    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav>
            <ul class="nav">
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Subnav 1</a></li>
                  <li><a href="#">Subnav 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Subnav 3</a></li>
                </ul>
              </li>
            </ul>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav
            %ul.nav
              %li.dropdown
                %a(href="#" data-toggle="dropdown") Dropdown <span class="caret"></span>
                %ul.dropdown-menu
                  %li
                    %a(href="#") Subnav 1
                  %li
                    %a(href="#") Subnav 2
                  %li.divider
                  %li
                    %a(href="#") Subnav 3
    .notification.important.fade.in
      %p <strong>Note!</strong> Add the <code>.drop-up</code> class to the <code>ul.dropdown-menu</code> to pop the menu above the target

.sg-subsection
  .sg-onethird.pull
    %h4 Button dropdowns
    %p For elements outside of a list, typically in stand alone buttons, utilize the <code>button-group</code> structure for creating dropdowns.
  .sg-twothird.push
    .well.button-toolbar
      %nav.button-group
        %button.btn.dropdown-toggle(href="#" data-toggle="dropdown") Dropdown<span class="caret"></span>
        %ul.dropdown-menu
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3

      %nav.button-group
        %button.btn.important.dropdown-toggle(href="#" data-toggle="dropdown") Important<span class="caret"></span>
        %ul.dropdown-menu.drop-up
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3
      %nav.button-group
        %button.btn.success.dropdown-toggle(href="#" data-toggle="dropdown") Success<span class="caret"></span>
        %ul.dropdown-menu
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3
    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav class="button-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret">
            <ul class="dropdown-menu">
              ...
            </ul>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav.button-group
            %button.btn.dropdown-toggle(data-toggle="dropdown") Dropdown<span class="caret"></span>
            %ul.dropdown-menu
              ...
.sg-subsection
  .sg-onethird.pull
    %h4 Split button dropdowns
    %p Building on the <code>button-group</code> structure, create split buttons where there is action on the left button and contextual menu items under the caret to the right.
  .sg-twothird.push
    .well.button-toolbar
      %nav.button-group
        %button.btn(href="#") Action
        %button.btn.dropdown-toggle(href="#" data-toggle="dropdown") <span class="caret split"></span>
        %ul.dropdown-menu
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3
      %nav.button-group
        %button.btn.important(href="#") Action
        %button.btn.important.dropdown-toggle(href="#" data-toggle="dropdown") <span class="caret split"></span>
        %ul.dropdown-menu.drop-up
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3
      %nav.button-group
        %button.btn.success(href="#") Action
        %button.btn.success.dropdown-toggle(href="#" data-toggle="dropdown") <span class="caret split"></span>
        %ul.dropdown-menu
          %li
            %a(href="#") Subnav 1
          %li
            %a(href="#") Subnav 2
          %li.divider
          %li
            %a(href="#") Subnav 3

    %pre.prettyprint.html
      = preserve do
        :escaped
          <nav class="button-group">
            <button class="btn" href="#">Action</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret split"></span>
            </button>
            <ul class="dropdown-menu">
              ...
            </ul>
          </nav>
    %pre.prettyprint.haml.hidden
      = preserve do
        :escaped
          %nav.button-group
            %button.btn(href="#") Action
            %button.btn.dropdown-toggle(data-toggle="dropdown")
              %span.caret.split
            %ul.dropdown-menu
              ...

    .notification.important.fade.in
      %p <strong>Note!</strong> Add the <code>.split</code> class to the caret <code>&lt;span&gt;</code> to center within the button
    .notification.important.fade.in
      %p <strong>WTF: IE 7!</strong> Out of the box, dropdowns utilize <code>visuallyhidden</code> when hiding their content instead of <code>display:none</code>. This ensures the content is available to <a href="http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/">screen readers</a>. If you must support IE 7, remove the mixin for <code>visuallyhidden</code> and uncomment <code>display:none</code>. The <code>visuallyhidden</code> mixin works fine for modern browsers and IE8+


