
!!! 5
%html
  %head
    %title underoos are fun to wear.
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link(rel="stylesheet" href="nagari.css" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/application.css" type="text/css")
    %link(rel="stylesheet" href="/stylesheets/underoos.css" type="text/css")

  %body
    -# Various settings used for calculating grids and common strings
    - lorem = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    - total_width = 984
    - column_width = 70
    - num_columns = 12
    - total_margin = 12
    - single_margin = (total_margin / 2)

    .guider
    #container

      .nagari
        .nagari-header
          underoos<span>.</span>
          %a(href='#_open' onclick='return nagari.open(event);') open all
          %a(href='#_close' onclick='return nagari.close(event);') close all

      .nagari#_typography
        .nagari-section
          %a(href='#_typography' onclick='return nagari.click(event);') Typography
        .nagari-content.collapsed
          .nagari-note Contains all of the heading, paragraph, lists, and inline elements

          .nagari-subsection Heading Styles
          %h1 Google hearts h1 headings, but only use one per page
          %p= lorem
          %br
          %h2 Got sections? Try using h2 headings
          %p= lorem
          %br
          %h3 Good things come in threes, like tacos and h3 headings
          %p= lorem
          %br
          %h4 There's nothing clever to say about h4 headings
          %p= lorem
          %br
          %h5 Every time you use an h5 heading, Google kills a puppy. A tiny little puppy.
          %p= lorem
          %br
          %h6 Really an h6 heading? Google just killed a kitten now too.
          %p= lorem

          .nagari-subsection Dividers/Rules
          %hr

          .nagari-subsection Paragraph Styles
          %p
            %em The em tag is used to emphasize text.
          %p
            %strong The strong tag is generally used for bold text.
          %p
            %strong
              %em Wrap the strong and the em tag and away you go.
          %p Just wanted to say what sup<sup>&reg;</sup> with the superscript tag.
          %p The <sub>sub tag</sub> is just plain weird, but that's what makes it a unique beautiful butterfly.
          %p This is an inline anchor tag so <a href='http://www.google.com/'>click here</a>!
          %blockquote
            %q Nagari is the ancestor of Devanagari and other scripts, and was first used to write Sanskrit only. It is the common language and writing systems used by Tibetan Sherpas. Get it? Writing language for Sherpa guides. Okay, total stretch, but this is what blockquotes look like with quotes.
          %cite * The above quote is really just about 8 minutes spent on <a href="http://en.wikipedia.org/wiki/Devnagari">wikipedia</a> research. Anyhow, this is a footnote using a citation tag.
          %p
          %small The small tag renders text smaller.
          %p
          %big The big tag renders text bigger (tag is being deprecated though).
          %p <abbr title="For Placement Only">FPO</abbr>. The abbr tag describes an abbreviated phrase.
          %p <acronym title="as soon as possible">ASAP</acronym>. An acronym tag can be spoken as if it were a word, example NATO, NASA, ASAP, GUI.
          %p <dfn title="This is a definition">DFN</dfn>. The dfn tag wraps the definition of a word or term.
          %p
          %address
            Mr. Address Tag
            %br
            1600 Pennsylvania Ave NW
            %br
            Washington D.C. DC 20500
          %p
          %del The del tag defines text that has been deleted from a document.
          %p
          %ins The ins tag defines text that has been inserted into a document.
          %details
            %summary Click to Expand
            %p The summary tag can be clicked on to expand/collapse the details as required. The summary tag, should be the first child of the details tag. The details tag specifies additional details that the user can view or hide on demand.
          %figure
            %p The figure tag is used for annotating illustrations, diagrams, photos, code listings, etc.
            %figcaption The figcaption tag is used to provide a caption when using the figure tag. The figcaption tag is used either as the first or last child of its parent figure tag.
          %p
          %mark The mark tag is used for indicating text as marked or highlighted for reference purposes, due to its relevance in another context.
          %p What time is it? <time>9:00</time>

          .nagari-subsection List Styles
          %p An unordered list:
          %ul
            %li Unordered list
            %li Unordered list
            %ul
              %li Nested unordered list
              %li Nested unordered list
              %li Nested unordered list
            %li Unordered list
            %ol
              %li Nested ordered list
              %li Nested ordered list
              %li Nested ordered list

          %p An ordered list:
          %ol
            %li Ordered list
            %li Ordered list
            %ol
              %li Nested unordered list
              %li Nested unordered list
              %li Nested unordered list
            %li Ordered list
            %ul
              %li Nested ordered list
              %li Nested ordered list
              %li Nested ordered list

          %dl
            %dt Definition Term
            %dd Definition Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            %dt Definition Term
            %dd Definition Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            %dt Definition Term
            %dd Definition Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.

          .nagari-subsection Code Styles
          %p The <code>&lt;code&gt;</code> tag is used to show inline code
          %br
          %pre // The pre tag. <br />git pull --rebase <br />git add . <br />git commit -m "Updated heading styles" <br/>git push
          %br
          %kbd The kbd tag defines keyboard text
          %br
          %samp The samp tag defines sample computer code

          .nagari-subsection Flags
          %p Flags are used to <span class="flag important">pop</span> information in a block of text, they are always wrapped in span tags. Flags and flash messages generally follow the same color pattern and naming convention.
          %br
          %p <span class="flag">Default</span> | <span class="flag notice">Notice</span> | <span class="flag important">Important</span> | <span class="flag success">Success</span> | <span class="flag warning">Warning</span> | <span class="flag alert">Alert</span> | <span class="flag error">Error</span>
          %br


      .nagari#_palettes
        .nagari-section
          %a(href='#_palettes' onclick='return nagari.click(event);') Palettes
        .nagari-content.collapsed
          .nagari-note Various color palettes used in the application

          .nagari-subsection blacks &raquo; greys &raquo; whites
          - greys = ['#000', '#111', '#222','#333','#444','#555','#666','#777','#888','#999','#aaa','#bbb','#ccc','#ddd','#eee','#fff']
          - greys.each do |color|
            .nagari-colorbox(style="background:#{color};") #{color}
          .nagari-clearfix

          .nagari-subsection mc roy g. biv
          - rainbow = ['magenta', 'cyan', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
          - rainbow.each do |color|
            .nagari-colorbox(style="background:#{color};") #{color}
          .nagari-clearfix

          .nagari-subsection flash messages colors (notice, important, success, warning, alert, error)
          - msgs = ['#000','#268bd2', '#46a546', '#ffc40d', '#f26522', '#b22222']
          - msgs.each do |color|
            .nagari-colorbox(style="background:#{color};") #{color}
          .nagari-clearfix


      .nagari#_elements
        .nagari-section
          %a(href='#_elements' onclick='return nagari.click(event);') Elements
        .nagari-content.collapsed
          .nagari-note Base elements styles for tables, images, media, buttons

          .nagari-subsection Buttons
          .nagari-note Default: Button Tag / a.btn
          %button(name="commit") Button
          %button.error(name="commit") Button Error
          %button(name="commit" disabled) Button Disabled
          %a.btn(href="#") Link
          %a.btn.error(href="#") Link Error
          %a.btn.disabled(href="#") Link Disabled

          .nagari-subsection Table Styles
          %table(cellspacing="0")
            %caption Table Caption
            %thead
              %tr
                %th Table Header 1
                %th
                  %a(href="#") Table Header 2 Link
                %th Table Header 3
                %th
                  %a.ascending(href="#") Ascending
                %th
                  %a.descending(href="#") Descending
            %tfoot
              %tr
                %td(colspan="5") This is the table footer it appears at the bottom of the table
            %tbody
              %tr
                %td Table Data - :nth-child(odd)
                %td
                  %a(href="#") Data as a link
                %td Table Data
                %td One
                %td Three
              %tr
                %td Table Data - :nth-child(even)
                %td
                  %a(href="#") Data as a link
                %td Table Data
                %td Two
                %td Two
              %tr
                %td Table Data - :nth-child(odd)
                %td
                  %a(href="#") Data as a link
                %td Table Data
                %td Three
                %td One

          .nagari-subsection Media Styles
          .nagari-note favicon 16x16
          %img(src='/favicon.ico' alt='favicon')
          .nagari-note apple touch icon 114x114
          %img(src='/apple-touch-icon.png' alt='apple touch icon')
          .nagari-note apple startup image 320x460
          %img(src='/startup.png' alt='startup image')
          .nagari-note Image
          %img(src='http://lorempixum.com/150/150' alt='image')
          .nagari-note Video
          %video(controls="" poster="http://lorempixum.com/320/240")
            %source(src="/path/to/myvideo.mp4" type="video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\"")
            %source(src="/path/to/myvideo.ogv" type="video/ogg; codecs=\"theora, vorbis\"")
          .nagari-note Bars
          %meter(min="0" max="100" value="50")
          %label meter tag
          %p
          %progress(min="0" max="100" value="50")
          %label progress tag

          .nagari-subsection UI Elements
          .nagari-todo Insert elements like buttons, sprites, icons, graphics etc...


      .nagari#_forms
        .nagari-section
          %a(href='#_forms' onclick='return nagari.click(event);') Forms
        .nagari-content.collapsed
          .nagari-note Base input, textarea, labels, selects, button styles associated with form elements

          .nagari-subsection Formtastic (Fieldset With Border)
          %form
            %fieldset.bordered
              %legend This is a legend, it is hidden
              %ol
                %li(class="input text optional" id="test_text_input")
                  %label(class="label" for="test_text") Basic Input
                  %input(class="text optional" id="test_text" type="text" name="test[text]" placeholder="text input")
                  .hint This is a hint about the form above being filled out

                %li(class="input email required" id="test_email_input")
                  %label(class="label" for="test_email")
                    Email
                    %abbr(title="required") *
                  %input(class="email required" id="test_email" type="email" name="test[email]" placeholder="user@example.com")

                %li(class="input password required" id="test_password_input")
                  %label(class="label" for="test_password")
                    Password
                    %abbr(title="required") *
                  %input(class="password required" id="test_password" type="password" name="test[password]" placeholder="password")

                %li(class="input url optional" id="test_url_input")
                  %label(class="label" for="test_url") Domain Name
                  %input(class="url optional" id="test_url" type="url" name="test[url]" placeholder="http://www.example.com/")

                %li(class="input tel optional" id="test_tel_input")
                  %label(class="label" for="test_tel") Telephone
                  %input(class="tel optional" id="test_tel" type="tel" name="test[tel]" placeholder="303.867.5309")

                %li(class="textarea optional" id="test_textarea_textarea")
                  %label(class="label" for="test_textarea") Text Area
                  %textarea(class="textarea optional" id="test_textarea" name="test[textarea]" placeholder="Enter some text..." rows="10" cols="53")

                %li(class="input search optional" id="test_search_input")
                  %label(class="label" for="test_search") search
                  %input(class="search optional" id="test_search" type="search" name="test[search]" placeholder="google")

                %li(class="input date optional" id="test_date_input")
                  %label(class="label" for="test_date") Date
                  %input(class="date optional" id="test_date" type="date" name="test[date]" placeholder="2011-09-08")

                %li(class="input month optional" id="test_month_input")
                  %label(class="label" for="test_month") Month
                  %input(class="month optional" id="test_month" type="month" name="test[month]" placeholder="")

                %li(class="input week optional" id="test_week_input")
                  %label(class="label" for="test_week") Week
                  %input(class="week optional" id="test_week" type="week" name="test[week]" placeholder="")

                %li(class="input time optional" id="test_time_input")
                  %label(class="label" for="test_time") Time
                  %input(class="time optional" id="test_time" type="time" name="test[time]" placeholder="")

                %li(class="input datetime optional" id="test_datetime_input")
                  %label(class="label" for="test_datetime") Date Time
                  %input(class="datetime optional" id="test_datetime" type="datetime" name="test[datetime]" placeholder="")

                %li(class="input datetime-local optional" id="test_datetimelocal_input")
                  %label(class="label" for="test_datetimelocal") Date Time Local
                  %input(class="datetime-local optional" id="test_datetimelocal" type="datetime-local" name="test[datetime_local]" placeholder="")

                %li(class="input number optional" id="test_number_input")
                  %label(class="label" for="test_number") Number
                  %input(class="number optional" id="test_number" type="number" name="test[number]" min="0" max="10" placeholder="5")

                %li(class="input range optional" id="test_range_input")
                  %label(class="label" for="test_range") Range
                  %input(class="range optional" id="test_range" type="range" name="test[range]" min="0" max="10" placeholder="5")

                %li(class="input color optional" id="test_color_input")
                  %label(class="label" for="test_color") Color (Opera only ATM)
                  %input(class="color optional" id="test_color" type="color" name="test[color]" alt="color")

                %li(class="select cities optional" id="test_select_select")
                  %label(class="label" for="test_select") Select
                  %select(class="cities optional" id="test_select" name="test[cities]")
                    %optgroup(label="Colorado")
                      %option(value="denver" selected="selected") Denver
                      %option(value="boulder") Boulder
                    %optgroup(label="California")
                      %option(value="los angeles") Los Angeles
                      %option(value="san francisco") San Francisco

                %li(class="multi select cities optional" id="test_multi_select_select")
                  %label(class="label" for="test_multiselect") Select
                  %select(class="cities optional" id="test_multiselect" name="test[cities]" multiple)
                    %optgroup(label="Colorado")
                      %option(value="denver" selected="selected") Denver
                      %option(value="boulder") Boulder
                    %optgroup(label="California")
                      %option(value="los angeles") Los Angeles
                      %option(value="san francisco") San Francisco

                %li
                  %hr

                %li(class="description")
                  .nagari-note Radio group separated by %li tags displays block level

                %li(class="radiogroup required")
                  %input(class="radio_button required" id="test_radio3" type="radio" name="test[radio2]" checked="checked" value="0")
                  %label(class="label" for="test_radio3") Radio Button 1
                %li(class="radiogroup required")
                  %input(class="radio_button required" id="test_radio4" type="radio" name="test[radio2]" value="1")
                  %label(class="label" for="test_radio4") Radio Button 2

                %li(class="description")
                  .nagari-note Radio group under single %li tag displays inline

                %li(class="radiogroup required")
                  %input(class="radio_button required" id="test_radio1" type="radio" name="test[radio1]" checked="checked" value="0")
                  %label(class="label" for="test_radio1") Radio Button 3
                  %input(class="radio_button required" id="test_radio2" type="radio" name="test[radio1]" value="1")
                  %label(class="label" for="test_radio2") Radio Button 4

                %li
                  %hr

                %li(class="description")
                  .nagari-note Checkbox group separated by %li tags displays block level

                %li(class="checkgroup required")
                  %input(class="check_button required" id="test_check1" type="checkbox" name="test[check1]" checked="checked" value="0")
                  %label(class="label" for="test_check1") Checkbox Button 1
                %li(class="checkgroup required")
                  %input(class="check_button required" id="test_check2" type="checkbox" name="test[check1]" value="1")
                  %label(class="label" for="test_check2") Checkbox Button 2

                %li(class="description")
                  .nagari-note Checkbox group under single %li tag displays inline
                %li(class="checkgroup required")
                  %input(class="check_button required" id="test_check3" type="checkbox" name="test[check2]" checked="checked" value="0")
                  %label(class="label" for="test_check3") Checkbox Button 3
                  %input(class="check_button required" id="test_check4" type="checkbox" name="test[check2]" value="1")
                  %label(class="label" for="test_check4") Checkbox Button 4

                %li
                  %hr

                %li(class="input submit")
                  %input(class="submit" name="submit" type="submit" value="Submit")
                %li(class="input reset")
                  %input(class="reset" name="reset" type="reset" value="Reset")
                %li(class="input button")
                  %input(class="button" name="button" type="button" value="Button")
                %li(class="input image")
                  %input(class="image" name="image" type="image" src="http://lorempixum.com/68/28/" value="Image")
                %li(class="input-file")
                  %input(class="file" name="file" type="file" value="file")

          .nagari-subsection Formtastic (Fieldset No Border)
          %form
            %fieldset
              %legend This is a legend, it is hidden
              %ol
                %li(class="input text optional" id="test_text1_input")
                  %label(class="label" for="test_text1") Basic Input
                  %input(class="text optional" id="test_text1" type="text" name="test[text]" placeholder="text input")

                %li(class="input email required" id="test_email1_input")
                  %label(class="label" for="test_email1")
                    Email
                    %abbr(title="required") *
                  %input(class="email required" id="test_email1" type="email" name="test[email]" placeholder="user@example.com")

                %li(class="input password required" id="test_password1_input")
                  %label(class="label" for="test_password1")
                    Password
                    %abbr(title="required") *
                  %input(class="password required" id="test_password1" type="password" name="test[password]" placeholder="password")

                %li(class="input submit")
                  %input(class="submit" name="submit" type="submit" value="Submit")
                %li(class="input reset")
                  %input(class="reset" name="reset" type="reset" value="Reset")

          .nagari-subsection Formtastic Error States
          %form
            %fieldset.bordered
              %legend This is a legend, it is hidden
              %ol
                %li(class="input text error required" id="test_error_input")
                  %label(class="label" for="test_error")
                    Error Input
                    %abbr(title="required") *
                  %input(class="text required" id="test_error" type="text" name="test[error]" placeholder="error input" value="Error!")
                  .hint This is a hint about what went wrong

                %li(class="select cities optional error" id="test_select_select")
                  %label(class="label" for="test_select") Select
                  %select(class="cities optional" id="test_select" name="test[cities]")
                    %optgroup(label="Colorado")
                      %option(value="denver" selected="selected") Denver
                      %option(value="boulder") Boulder
                    %optgroup(label="California")
                      %option(value="los angeles") Los Angeles
                      %option(value="san francisco") San Francisco

                %li(class="radiogroup required error")
                  %input(class="radio_button required" id="test_radio3" type="radio" name="test[radio2]" checked="checked" value="0")
                  %label(class="label" for="test_radio3") Radio Button 1
                %li(class="radiogroup required error")
                  %input(class="radio_button required" id="test_radio4" type="radio" name="test[radio2]" value="1")
                  %label(class="label" for="test_radio4") Radio Button 2

                %li(class="checkgroup required error")
                  %input(class="check_button required" id="test_check1" type="checkbox" name="test[check1]" checked="checked" value="0")
                  %label(class="label" for="test_check1") Checkbox Button 1
                %li(class="checkgroup required error")
                  %input(class="check_button required" id="test_check2" type="checkbox" name="test[check1]" value="1")
                  %label(class="label" for="test_check2") Checkbox Button 2

                %li(class="input error submit")
                  %input(class="submit" name="submit" type="submit" value="Submit")

          .nagari-subsection Formtastic Disabled States
          %form
            %fieldset.bordered
              %legend This is a legend, it is hidden
              %ol
                %li(class="input disabled optional" id="test_disabled_input")
                  %label(class="label" for="test_disabled") Disabled Input (li)
                  %input(class="text optional" id="test_disabled" type="text" name="test[disabled]" placeholder="you shall not pass!" disabled)

                %li(class="input optional" id="test_disabled1_input")
                  %label(class="label" for="test_disabled1") Disabled Input (input only)
                  %input(class="text optional" id="test_disabled1" type="text" name="test[disabled1]" placeholder="you can't click me!" disabled)

                %li(class="select cities optional disabled" id="test_select_select")
                  %label(class="label" for="test_select") Select
                  %select(class="cities optional" id="test_select" name="test[cities]" disabled)
                    %optgroup(label="Colorado")
                      %option(value="denver" selected="selected") Denver
                      %option(value="boulder") Boulder
                    %optgroup(label="California")
                      %option(value="los angeles") Los Angeles
                      %option(value="san francisco") San Francisco

                %li(class="radiogroup required disabled")
                  %input(class="radio_button required" id="test_radio3" type="radio" name="test[radio2]" checked="checked" value="0" disabled)
                  %label(class="label" for="test_radio3") Radio Button 1
                %li(class="radiogroup required disabled")
                  %input(class="radio_button required" id="test_radio4" type="radio" name="test[radio2]" value="1" disabled)
                  %label(class="label" for="test_radio4") Radio Button 2

                %li(class="checkgroup required disabled")
                  %input(class="check_button required" id="test_check1" type="checkbox" name="test[check1]" checked="checked" value="0" disabled)
                  %label(class="label" for="test_check1") Checkbox Button 1
                %li(class="checkgroup required disabled")
                  %input(class="check_button required" id="test_check2" type="checkbox" name="test[check1]" value="1" disabled)
                  %label(class="label" for="test_check2") Checkbox Button 2

                %li(class="input submit")
                  %input(class="submit" name="submit" type="submit" value="Submit" disabled)


      .nagari#_components
        .nagari-section
          %a(href='#_components' onclick='return nagari.click(event);') Components
        .nagari-content.collapsed
          .nagari-note Components consists of systems like tabs, pagination, breadcrumbs, flash messages, tool tips, etc.

          .nagari-subsection Flash Messaging
          .nagari-todo Add in Flash messaging

          .nagari-subsection Pagination
          %nav.pagination
            %span.previous_page.disabled &laquo; previous
            %a(href="#") 1
            %em.current 2
            %a(href="#" rel="next") 3
            %a(href="#") 4
            %a(href="#") 5
            %span.gap ...
            %a(href="#") 11
            %a(href="#") 12
            %a.next_page(href="#" rel="next") next &raquo;

          .nagari-subsection Breadcrumb
          %nav.breadcrumb
            %ul
              %li
                %a(href="#") Level 1
              %li
                %a(href="#") Level 2
              %li
                %a(href="#") Level 3
              %li.active Level 4

          .nagari-subsection Tabs
          %nav.tabs
            %ul
              %li
                %a(href="#") Tab One
              %li.active
                %a(href="#") Tab Two
              %li
                %a(href="#") Tab Three
              %li
                %a(href="#") Tab Four
            %hr

          %section(style="margin: 22px;")
            %h2 This is section content within the tab
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .nagari-subsection Tool Tips
          .nagari-todo Style a tooltip
          %p Lorem ipsum  <a href="#" rel="twipsy" data-original-title="I'm a tooltip!">tool tip</a> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



      .nagari#_structures
        .nagari-section
          %a(href='#_structures' onclick='return nagari.click(event);') Structures
        .nagari-content.collapsed
          .nagari-note Structures consists of grids systems and common size elements used within the application.
          %br
          .nagari-note Grid structure:  #{total_width}px ~ #{num_columns} columns ~ #{single_margin}px / #{single_margin}px margins

          .nagari-subsection standard horizontal columns
          - (1..num_columns).to_a.reverse.each do |i|
            ! #{"<div class='_underoos-col-#{i}'></div>"}
            - if num_columns - i > 0
              ! #{"<div class='_underoos-col-#{num_columns - i}'></div>"}
          .nagari-clearfix

          .nagari-subsection push / pull horizontal columns
          - (1..num_columns).to_a.reverse.each do |i|
            ! #{"<div class='_underoos-pull-#{i}'></div>"}
            - if num_columns - i > 0
              ! #{"<div class='_underoos-push-#{num_columns - i} alt'></div>"}
            - else
              ! #{"<div class='_underoos-push-#{num_columns} alt'></div>"}
          .nagari-clearfix

          .nagari-subsection full horizontal columns (pushed and pulled)
          - (1..num_columns).to_a.reverse.each do |i|
            ! #{"<div class='_underoos-full-#{i}'></div>"}
            - if num_columns - i > 0
              ! #{"<div class='_underoos-full-#{num_columns - i} alt'></div>"}
          .nagari-clearfix


          .nagari-subsection offset columns (push / pull / full values not shown)
          - (1..num_columns - 1).to_a.reverse.each do |i|
            ! #{"<div class='_underoos-offset-#{i}'></div>"}
          .nagari-clearfix

          .nagari-subsection vertical grid system
          .nagari-todo TODO: Render the vertical grid

          .nagari-subsection Common Sizes and Ratios within the Grid System
          %table(cellspacing=0)
            %thead
              %tr
                %th Column
                %th 16:9 Ratio (px)
                %th 4:3 Ratio (px)
            %tfoot
              %tr
                %td(colspan='3') Good reference for <a href="http://andrew.hedges.name/experiments/aspect_ratio/">calculating aspect ratios</a>
            %tbody
              %tr
                %td Full Bleed
                %td #{total_width} x #{(9.0 / 16.0 * total_width).round}
                %td #{total_width} x #{(3.0 / 4.0 * total_width).round}
              - width = total_width - total_margin
              - spacing = column_width + total_margin
              - (1..num_columns).to_a.reverse.each do |i|
                - hd = (9.0 / 16.0 * width).round
                - sd = (3.0 / 4.0 * width).round
                %tr
                  %td #{i} columns
                  %td #{width} x #{hd}
                  %td #{width} x #{sd}
                - width -= spacing


      .nagari#_layouts
        .nagari-section
          %a(href='#_layouts' onclick='return nagari.click(event);') Layouts
        .nagari-content.collapsed
          .nagari-note Layouts consists of various templates. These can be smaller ratios of actual layouts or direct links to individual layouts.

    %script(src="nagari.js" type="text/javascript")

