
!!! 5
%html
  %head
    %title underoos.
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %meta(name="description" content="")
    %meta(name="author" content="mode set")
    %meta(name="keywords" content="")
    %meta(name="imagetoolbar" content="no")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="apple-touch-fullscreen" content="YES")
    %meta(name="apple-mobile-web-app-capable" content="YES")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    = stylesheet_link_tag 'underoos'
    = stylesheet_link_tag 'styleguide'

    %body(data-spy="scroll" data-target=".spy")
      = yield

      = javascript_include_tag 'underoos'
      = javascript_include_tag 'prettify'
      = javascript_include_tag 'styleguide'

